.isolated-section {
  text-align: center;

  .avatar {
    margin-bottom: 25px;
  }

  .btn {
    margin-bottom: 25px;
  }

  .stylish-hr {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
}