$black: #4A4A4A;
$white: #FFF;
$gray: #D8D8D8;
$emerald: #50E3C2;

@import "normalize";
@import "scaffold";
@import "type";
@import "components/btn";
@import "components/avatar";
@import "components/isolated-section";
@import "components/stylish-hr";
@import "components/icon-widget";